@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'daisyui/dist/full.css';




#root {
  max-width: 1280px;
  margin: 0 auto;

}


:root {
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


}

body {
  overflow: auto;
  color: black;

}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: #bc6604;
  cursor: pointer;
}